@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --blur: blur(10px);
    --white: hsl(0, 0%, 100%);
    --rgb-green: rgba(0, 255, 0);
    --green: hsl(162, 45%, 56%);
    --rgb-light-blue: rgba(0, 170, 228);
    --light-blue: #81B9FF;
    --blue: hsl(220, 85%, 57%);
    --violet: hsl(272, 92%, 32%);
    --lead: hsl(162, 2%, 56%);
    --light-gray: hsla(0, 0%, 100%, 0.25);
    --gray: hsla(0, 0%, 36%, 0.711);
    --dark-gray: #15202B;
    --dark-blue: hsl(198, 42%, 9%);
    --dark: hsla(0, 0%, 100%, 0.05);
    --black: hsla(0, 0%, 0%, 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* -------------------- LOGIN IN -------------------- */


.index-bg {
    background-color: var(--dark-blue);
    color: var(--gray);
    font-family:'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
}

.index-bg::after,
.index-bg::before {
    content: "";
    position: fixed;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    z-index: -1;
    filter: blur(150px);
    opacity: 0.5;
}
.index-bg::before {
    background-color: var(--blue);
    left: 0;
    bottom: 0;
    transform: translate(-50%);
}
.index-bg::after {
    background-color: var(--violet);
    right: 0;
    top: 0;
    transform: translate(50%);
}

a {
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
}

.gradient-text {
    background: linear-gradient(to right, var(--green), var(--lead));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.form-main {
    min-height: 100vh;
    padding: 60px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.form-content {
    width: 100%;
    max-width: 450px;
    position: relative;
    z-index: 1;
}

.form-content .box {
    border-color: var(--dark);
    border: 1px solid var(--light-gray);
    padding: 40px 50px;
    border-radius: 20px;
    backdrop-filter: var(--blur);
}

.form-content h3 {
    font-size: 28px;
    text-align: center;
    line-height: 1.2;
    color: var(--white);
    font-weight: 500;
}

.form-content form {
    margin: 15px 0 20px;
}

.form-content .input-box {
    margin-bottom: 25px;
}

.form-content ::placeholder {
    color: inherit;
    opacity: 1;
}

.form-content .input-control {
    display: block;
    height: 45px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--light-gray);
    color: inherit;
    font-weight: inherit;
    font-family: inherit;
    font-size: 16px;
    color: var(--white);
}

.form-content .input-control:focus {
    outline: none;
}

.form-content .input-link {
    margin-top: 10px;
    text-align: right;
}

.form-content .btn {
    height: 45px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: inherit;
    cursor: pointer;
    border-radius: 25px;
    user-select: none;
    background: linear-gradient(to right, var(--green), var(--lead));
    border: none;
    color: var(--white);
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.form-content .btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: background-color 0.5s ease;
    z-index: -1;
}

.form-content .btn:hover::before {
    background-color: var(--black);
}

.form-content p {
    text-align: center;
}


/* -------------------- FEED (BAR NAVEGATION) -------------------- */


.feed-bg {
    background-color: var(--dark-blue);
}

.feed-page {
    width: 100%;
    height: 100vh;
}

.feed-nav {
    position: fixed;
    width: 100%;
    height: 4.2rem;
    display: flex;
    justify-content: center;
    backdrop-filter: var(--blur);
}

.icons {
    display: flex;
    align-items: center;
}

.icons i {
    text-decoration: none;
    margin-right: 5rem;            
    font-size: 1.55rem;
    color: var(--light-gray);
    cursor: pointer;
    transition: color 0.3s ease;              
}

.icons i:hover {
    color: var(--rgb-light-blue);
}

.search-bar {
    display: flex;
    align-items: center;
    position: relative;
}

.search-bar input {
    width: 28rem;
    height: 2.5rem;
    border: 0.1rem solid var(--white);
    border-radius: 3rem;
    background-color: var(--white);
    padding-left: 5rem;
}

.search-bar input:focus {
    background-color: var(--white);
    border-color: var(--rgb-light-blue);
}

.search-bar button {
    position: absolute;
    font-size: 1.2rem;
    left: 1.5rem;
    color: var(--lead);
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
}

.user {
    margin-left: 5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user-img-wrapper {
    width: 3.2rem;
    height: 3.2rem;
}

.user-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.user-link {
    margin: 0 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--lead);
}

.user i {
    color: var(--light-gray);
    font-size: 1.2rem;
}


/* -------------------- FEED (MIDDLE HOME) -------------------- */


.feed-content {
    display: grid;
    grid-template-columns: minmax(5rem, 6fr)
    35rem
    minmax(5rem, 6fr);
    grid-template-rows: repeat(2, min-content);
    padding-top: 4rem;
}

.feed-header {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: var(--white);
    margin-top: 1rem;
    border-radius: 0.6rem;
    background-color: var(--dark-gray);
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.1rem solid var(--gray);
}

.header-top h4 {
    font-size: 1.8rem;
    margin: 0.5rem;
    color: var(--white);
}

.header-post {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 0.1rem solid var(--gray);
    border-radius: 0.6rem;
}

.header-img-wrapper {
    width: 3.2rem;
    height: 3.2rem;
    flex-shrink: 0;
    margin-right: 1rem;
    margin-left: 1rem;
}

.header-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: groove;
    border-width: 0.5px;
    border-color: var(--gray);
}

.header-post input {
    width: 35rem;
    height: 3rem;
    border: 0.1rem solid var(--gray);
    border-radius: 3rem;
    background-color: var(--white);
    padding: 0.4rem 1.5rem;
}

.header-post i {
    font-size: 1.3rem;
    color: var(--rgb-light-blue);
    margin: 1rem;
}

.posts1 {
    grid-column: 2/3;
    grid-row: 2/-1;
    background-color: var(--dark-gray);
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.6rem;
    border-bottom: 0.1rem solid var(--gray);
}

.posts2 {
    grid-column: 2/3;
    grid-row: 3/-1;
    background-color: var(--dark-gray);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.6rem;
    border-bottom: 0.1rem solid var(--gray);
}

.posts3 {
    grid-column: 2/3;
    grid-row: 4/-0;
    background-color: var(--dark-gray);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.6rem;
    border-bottom: 0.1rem solid var(--gray);
}

.post {
    display: flex;
    padding: 1.5rem;
    border-radius: 0.6rem;
}

.post-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.banner2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.banner3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.post-content p {
    text-align: center;
    margin-top: 1rem;
    color: var(--white);
}

.post-user-info {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.post-user-info h4 {
    font-size: 1.2rem;
    margin-right: 0.3rem;
    color: var(--white);
}

.post-user-info i {
    font-size: 1.2rem;
    color: var(--rgb-light-blue); 
    margin-right: 0.3rem;
}

.post-user-info .img-user {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 50%;
    border: groove;
    border-width: 0.5px;
    border-color: var(--gray);
}

.user-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.post-user-info span {
    font-size: 1.2rem;
    color: var(--light-gray);
}

.post-text {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.post-img {
    width: 30rem;
    height: 20rem;
}

.post-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.post-icons {
    margin-top: 1.5rem;
    margin-left: 4rem;
}

.post-icons i {
    font-size: 1.3rem;
    color: var(--gray);
    margin-right: 4rem;
}


/* -------------------- FEED (RIGHT HOME) -------------------- */


.follow {
    position: fixed;
    top: 5rem;
    left: 72%;
    background-color: var(--dark-gray);
    width: 22.8rem;
    height: 21.9rem;
    border-radius: 0.6rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.follow-heading {
    padding: 0.5rem;
    font-size: 1.8rem;
    border-bottom: 0.1rem solid var(--gray);
    color: var(--white);
}

.follow-user {
    display: flex;
    align-items: center;
    padding: 1.1rem;
    border-bottom: 0.1rem solid var(--gray);
    border-radius: 1rem;
    color: var(--white);
}

.follow-user-img {
    width: 4rem;
    height: 4rem;
    margin-right: 1.5rem;
}

.follow-user-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: groove;
    border-width: 1px;
    border-color: var(--gray);
}

.follow-user-info h4 {
    font-size: 1.2rem;
}

.follow-user-info p {
    margin-bottom: 0.5rem;
    color: var(--light-gray);
}

.follow-btn {
    margin-left: auto;
    width: 6rem;
    background-color: var(--rgb-light-blue);
    color: var(--white);
    padding: 0.5rem 0.3rem;
    border: 0.1rem solid var(--gray);
    border-radius: 2rem;
    font-size: 0.9rem;
    cursor: pointer;
}

.follow-link {
    margin: 1rem 0.5rem;
}

.follow-link a {
    text-decoration: none;
    color: var(--light-gray);
    font-size: 1.2rem;
}

.follow-footer {
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
}

.follow-footer ul {
    list-style: none;
    display: flex;
    padding: 2rem 0;
}

.follow-footer a {
    text-decoration: none;
    font-size: 0.78rem;
    color: var(--gray);
    margin: 0.5rem;
}


/* -------------------- FEED (LEFT HOME) -------------------- */


.online {
    position: fixed;
    background-color: var(--dark-gray);
    top: 5rem;
    left: 13px;
    width: 22.8rem;
    height: 25.5rem;
    border-radius: 0.6rem;
}

.online-contacts {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 0.1rem solid var(--gray);
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
}

.online-contact-img {
    width: 3.2rem;
    height: 3.2rem;
    margin-right: 1rem;
}

.online-contact-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: groove;
    border-width: 1px;
    border-color: var(--gray);
}

.online-contact-info h4 {
    font-size: 1.05rem;
    color: white;
}

.online-contact-info p {
    font-size: 1rem;
    color: var(--light-gray);
}

.green-point {
    height: 10px;
    width: 10px;
    background-color: var(--rgb-green);
    border-radius: 50%;
    position: fixed;
    left: 21.5%;
}

.online-text {
    position: fixed;
    left: 23%;
    color: var(--white);
}
